# Environments
.env
.venv

# Python
__pycache__/
*.pyc
.pytest_cache/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.svelte-kit/

# Tauri
frontend/src-tauri/target/

# General
build/
progresso.md

# Obsolete Flutter files
.flutter-plugins-dependencies